/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/**/.idea
/**/.mvn
/**/mvnw
/**/mvnw.cmd
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

frontend/node_modules
.idea

infra/.terraform
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup